<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="default"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
>
  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./images</directory>
      <directory>./public</directory>
      <directory>./tests</directory>
      <directory>./build</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
  <coverage ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
    <report>
      <clover outputFile=".phpunit.cache/clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="HOST" value="test"/>
    <env name="PORT" value="123456"/>
  </php>
  <testsuites>
    <testsuite name="Teamspeak 3 PHP Framework Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile=".phpunit.cache/junit.xml"/>
  </logging>
</phpunit>
